<div id="login-form" class="flex items-center justify-center flex-col rounded-3xl">

    <div class="w-96 p-6 flex items-start justify-between flex-col gap-8 bg-white rounded-md">
        <div class="w-full pb-1.5text-center">
            <h1 class="text-2xl font-semibold mb-3 text-indigo-600">EasyQuickService</h1>
            <h2 class="text-xl text-left text-indigo-500 font-semibold mb-3">Connexion</h2>
            <p class="text-sm">utiliser votre compte</p>
        </div>
        <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="w-full flex flex-col gap-y-5"
        >
            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Adresse mail</label>
                <div class="mt-2">
                    <input
                        id="email"
                        type="email"
                        formControlName="email"
                        class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    >
                    @if (email?.errors?.['required']) {
                      <span class="text-sm text-left text-red-500">Email est requise</span>
                    }
                    @if (email?.errors?.['email']) {
                      <span class="text-sm text-left text-red-500">Format de l'email incorrect</span>
                    }
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe</label>
                </div>
                <div class="mt-2">
                    <input
                      id="password"
                      type="password"
                      formControlName="password"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    >
                    @if (password?.errors?.['required']) {
                      <span class="text-sm text-left text-red-500">Mot de passe requis</span>
                    }
                </div>
            </div>

            <div>
                <button
                  type="submit"
                  class="flex w-full justify-center rounded bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white"
                  [disabled]="!loginForm.valid"
                >
                  connexion
                </button>
                @if (isLoading) {
                  <span class="text-sm font-semibold text-yellow-400">Loading ...</span>
                }
            </div>
        </form>

        <p class="text-left text-sm text-gray-500">
            pas encore membre?
            <a routerLink="/signup" class="underline font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Inscription</a>
        </p>
    </div>
</div>
