<div class="hero flex items-center justify-center flex-wrap">
    <div class="col-1">
        <h1 class="text-5xl font-bold mb-4">Bienvenue sur</h1>
        <strong class="text-lg text-yellow-500 mb-4">EasyQuickService.net</strong>
        <br/><span class="text-blue-600 mb-8">{{ slides[currentSlide].type }}</span>
        <p class="text-1 text-gray-600 mt-4">
            {{ slides[currentSlide].description }}
        </p>

        <div class="btn" routerLink="/{{ slides[currentSlide].link }}">
            <button class="button rounded bg-white py-3 px-8 mt-8">Commencer</button>
        </div>
    </div>
    <div class="col-2" [ngStyle]="{ 'background-image': 'url('+ slides[currentSlide].url +')' }">
        <!-- <img src="../../../assets/images/person.webp" alt=""> -->
        <div id="indicators" class="text-center">
            @for (slide of slides; track $index) {
                <div
                    class="indicator"
                    (click)="jumpToSlide($index)"
                    [ngClass]="{ active: $index == currentSlide }"
                ></div>
            }
        </div>
    </div>
    <div class="col-3">
        <p class="text-2 text-gray-600 mt-4">
            {{ slides[currentSlide].description }}
        </p>
        <div class="btn" routerLink="/{{ slides[currentSlide].link }}">
            <button class="button rounded bg-white py-3 px-8 mt-8">Commencer</button>
        </div>
    </div>
</div>
<!-- <div class="slides flex items-center justify-center flex-col gap-y-4">
    <div class="btns flex items-center justify-between gap-4">
        <span (click)="previous()"><i class="fa-solid fa-arrow-left font-bold text-lg text-indigo-600"></i></span>
        <span (click)="next()"><i class="fa-solid fa-arrow-right font-bold text-lg text-indigo-600"></i></span>
    </div>
</div> -->