<div class="small-container">
    <div class="dohone-box">
        <div class="item border bg-white">
            <div class="item-header flex items-start justify-start gap-8 mb-8 pb-4 border-b flex-wrap">
                <div class="service">
                    <h4>Type</h4>
                    <p></p>
                </div>
                <div class="service">
                    <h4>Objet</h4>
                    <p></p>
                </div>
                <div class="service">
                    <h4>Qualité</h4>
                    <p></p>
                </div>
            </div>
            <div class="item-body mb-8 pb-4 border-b">
                <h4>Description</h4>
                <p></p>
            </div>
            <div class="item-footer">
                <div class="service">
                    <h4>Nature Juridique</h4>
                    <p></p>
                </div>
                <div class="service">
                    <h4>Service à voir</h4>
                    <p></p>
                </div>
                <div class="service">
                    <h4>Localisation</h4>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="user-details">
            <div class="user-info" *ngIf="user$ | async as user">
                <div
                    class="info"
                >
                    <img
                        [src]="user.photoURL ? user.photoURL : '../../../assets/images/avatar.svg'"
                        width="50px"
                        height="50px"
                        alt="user-profile-picture"
                    >
                </div>
                <form
                    [formGroup]="checkoutForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="input-field">
                        <label for="username">Nom complet</label>
                        <input
                            id="username"
                            type="text"
                            formControlName="rN"
                            placeholder="votre nom complet"
                            required
                        >
                    </div>
                    <div class="input-field">
                        <label for="email">Adresse mail</label>
                        <input
                            id="email"
                            type="email"
                            formControlName="rE"
                            placeholder="votre adresse email"
                            required
                        >
                    </div>
                    <div class="input-field">
                        <label for="phone">Numéro de téléphone</label>
                        <input
                            id="phone"
                            type="text"
                            formControlName="rT"
                            placeholder="your phone number (OM / MOMO)"
                            required
                        >
                    </div>
                    <button type="submit">Purchase button<span>{{ price | currency : '2-1-1' : 'XAF' }}</span></button>
                </form>
            </div>
        </div>
    </div>
</div>