.small-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f7f7fc, #e0e0ff);
}
.dohone-box {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.dohone-box .user-details,
.dohone-box .item {
    max-width: 435px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #f7f7fc;
}

.dohone-box .item {
    background-color: white;
}
.item .item-header .service,
.item .item-footer .service {
    width: 120px;
}


.user-details .user-info .info h4,
.user-details .user-info form label {
    font-size: 15px;
    font-weight: 600;
}

.user-details .user-info .info span {
    font-size: 12px;
    color: #555;
}

.user-details .user-info .info {
    border-bottom: 1px solid #efefef;
}

.user-details {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.user-details .user-info {
    width: 100%;
}
.user-details .user-info .info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.user-details .user-info .info img {
    border-radius: 50%;
}
.user-details .user-info form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.user-details .user-info form .input-field {
    width: 100%;
}
.user-details .user-info form .input-field input {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    outline: none;
}
.user-details .user-info form input::placeholder {
    font-size: 10px;
}

.user-details button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding: 6px 0;
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    background: #5f5ff7;
}

@media screen and (max-width: 900px) {
    .dohone-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 560px) {
    .small-container {
        padding: 20px;
    }
    .items-list {
        max-height: 253px;
        height: 100%;
        overflow-y: scroll;
    }
}