<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
    <div class="logo">
      <span class="text-3xl font-semibold text-indigo-600">EasyQuickService</span>
    </div>
    <ul class="nav-link flex items-center py-2.5">
      <li class="mr-5">
        <a routerLink="/home">Accueil</a>
      </li>
      <li class="mr-5">
        <a routerLink="/service-list">Services</a>
      </li>
      <li class="mr-5">
        <a routerLink="/contact">Contact</a>
      </li>
      <li class="mr-5">
        <a routerLink="/about">A Propos</a>
      </li>
    </ul>
    <div class="buttons">
        <a
          routerLink="/login"
          class="login-btn"
        >
          connexion <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
    </div>
</nav>