
a {
    cursor: pointer;
    color: #777;
    transition: all 0.3s ease;
}
ul li a:hover:not(.login-btn) {
    color: #7952b3;
    text-decoration: overline;
}
.login-btn {
    display: flex;
    align-items: center;
}
.login-btn i {
    margin-left: 10px;
}
.login-btn:hover {
    color: #7952b3;
}

.logo i,
.logo img {
    display: none;
}

@media screen and (max-width: 950px) {
    nav {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #fff;
    }
    .logo {
        width: 100%;
        justify-content: space-between;
    }
    .logo i,
    .logo img {
        display: block;
    }
    .logo i {
        font-size: 25px;
    }
    .logo span,
    .nav-link,
    .buttons {
        display: none;
    }
}