nav {
    z-index: 2;
}
a {
    font-size: small;
    cursor: pointer;
    color: #777;
    transition: all 0.3s ease;
}
ul li a:hover:not(.login-btn) {
    color: #7952b3;
    text-decoration: overline;
}
.login-btn {
    display: flex;
    align-items: center;
}
.login-btn i {
    margin-left: 10px;
}
.login-btn:hover {
    color: #7952b3;
}

.logo i,
.logo img {
    display: none;
}

.mobile-nav {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: none;
    position: fixed;
}

@media screen and (max-width: 950px) {
    nav {
        display: none;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
    }
    .logo {
        width: 100%;
        justify-content: space-between;
    }
    .logo i,
    .logo img {
        display: block;
    }
    .logo i {
        font-size: 25px;
    }
    .logo span {
        font-size: 20px;
    }
    .nav-link,
    .buttons {
        display: none;
    }
    .buttons.open {
        display: block;
    }
    .nav-link.open {
        width: 100%;
        display: block;
    }
    .nav-link li {
        text-align: center;
        margin: 15px 0;
    }

    .mobile-nav {
        display: flex;
    }

}