<div class="select-container mt-8">
    <div id="list">
        <label for="browser" class="mr-8">Choisir le type de service sollicité :</label>
        <input
            list="browsers"
            name="browser"
            id="browser"
            class="border"
        />

        <datalist id="browsers">
            @for (type of taskTypes; track $index) {
                <option [value]="type.name">
            }
        </datalist>
    </div>
    <div class="btns">
        <button cdkStepperNext class="mt-4 py-2 px-8 text-white bg-indigo-600 rounded">Suivant</button>
    </div>
</div>