.details {
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #fff;
}


@media screen and (max-width: 560px) {
    .details {
        width: 90%;
        margin: 10px 0 auto;
    }
}
