<div class="container">
    <div class="row">
        <div class="mx-auto flex max-w-7xl items-center justify-between flex-wrap p-6 lg:px-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'Information service'">
                    <app-info-service />
                </cdk-step>
                <cdk-step [label]="'Nature de la Juridiction'">
                    <app-jurisdiction />
                </cdk-step>
                <cdk-step [label]="'Description du service sollicité'">
                    <app-description />
                </cdk-step>
                <cdk-step [label]="'Comfirmation'">
                    <app-finish />
                </cdk-step>
            </app-stepper>
        </div>
    </div>
</div>