<app-sidebar [title]="title" />
<div class="content">
    <div class="header flex items-center justify-between p-3 border mb-8">
        <h1 class="text-2xl font-semibold">Users Management</h1>
        <div class="filter">
            <select name="type" id="type" class="text-sm py-3 px-6">
                <option value="role">-- Role --</option>
                <option value="service-type">Partner</option>
                <option value="service-object">Visitor</option>
            </select>
        </div>
    </div>

    <div class="task-list border p-3">
        <table class="w-full">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Options</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>