<div
    class="signup-form"
>
    <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm.value)" >
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                    Ces informations serviront dans le cadre des livraisons de colis ou toutes autres activités nécessitant votre identification.
                </p>
    
                <div
                    class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                    *ngIf="user$ | async as user"
                >
    
                    <div class="col-span-full">
                        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
                        <div class="mt-2 flex justify-center rounded-lg px-6 py-10 text-center">
                            <div class="profile-img">
                                <img
                                    width="120"
                                    height="120"
                                    [src]="user.photoURL ?? '../../assets/images/favicon.webp'"
                                    alt=""
                                    class="border rounded-md mb-4 p-2"
                                >
                                <button class="rounded-full text-sm text-white bg-indigo-600 py-2 px-3" (click)="inputField.click()">Upload Image</button>
                            </div>
                            <input type="file" hidden (change)="uploadImage($event, user)" #inputField />
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Information Personnelle</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Utilisé une adresse permanente ou vous pourrez rececoir des mails.</p>
    
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="firstName"
                                id="first-name"
                                ngModel                            
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Prénom</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="lastName"
                                id="last-name"
                                ngModel                              
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                        <div class="mt-2">
                            <input
                                id="email"
                                name="email"
                                type="email"
                                ngModel                              
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Mot de Passe</label>
                        <div class="mt-2">
                            <input
                                id="password"
                                name="password"
                                type="password"
                                ngModel                             
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Téléphone</label>
                        <div class="mt-2">
                            <input
                                id="phone"
                                name="phone"
                                type="text"
                                ngModel                              
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Pays</label>
                        <div class="mt-2">
                            <input
                                id="country"
                                name="country"
                                type="text"
                                ngModel                             
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="col-span-full">
                        <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Adresse-rue / Quartier</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="address"
                                id="address"
                                ngModel                               
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3 sm:col-start-1">
                        <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Ville</label>
                        <div class="mt-2">
                            <input 
                                type="text" 
                                name="twon" 
                                id="twon" 
                                ngModel                                
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="region" class="block text-sm font-medium leading-6 text-gray-900">Région</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="region"
                                id="region"
                                ngModel                               
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"                                
                            >
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="mt-3 flex items-center justify-between gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">
                Vous avez déja un compte? <a routerLink="/login">Connexion</a>
            </button>
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Inscription
            </button>
        </div>
    </form>
</div> 