<div class="signup-form">
    <form #serviceForm="ngForm" (ngSubmit)="onSubmit(serviceForm.value)">
        <div class="space-y-12 mt-6">
    
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Information sur la juridiction</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Utilisé des informations valables pour nous permettre de retrouver les personnalités nécessaires.</p>
    
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Nature juridique de la structure à voir</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="firstName"
                                id="first-name"
                                autocomplete="given-name"
                                placeholder="Administration publique, Ets public, Sté publique, Sté privée commerciale, Organisation civile, Association, Personne privée individuelle, Autre"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                ngModel
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Service à voir</label>
                        <div class="mt-2">
                            <input
                                type="text"
                                name="lastName"
                                id="last-name"
                                autocomplete="family-name"
                                placeholder="nom de la structure, adresse, direction, service, porte, personne ou responsable à rencontrer, Téléphone"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                ngModel
                            >
                        </div>
                    </div>
    
                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Localisation / adresse</label>
                        <div class="mt-2">
                            <input
                                id="email"
                                name="email"
                                type="email"
                                autocomplete="email"
                                placeholder="région, département, ville, rue ou autre précision détaillée"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                ngModel
                            >
                        </div>
                    </div>

                </div>
            </div>
    
        </div>
    
        <div class="mt-6 flex items-fle justify-between gap-x-6">
            <button
                type="submit"
                cdkStepperPrevious
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
                Précédent
            </button>
            <button
                type="submit"
                cdkStepperNext
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
                Suivant
            </button>
        </div>
    </form>
</div>