section {
    width: 100%;
}
section .image,
section .text {
    max-width: 500px;
    width: 100%;
}

section .image span {
    display: none;
}

section .image .btns2 {
    display: none;
}

#mission .col-1,
#mission .col-2 {
    max-width: 500px;
    width: 100%;
}

#form .col-1 form fieldset {
    width: 400px;
}

@media screen and (max-width: 950px) {
    section {
        padding: 21% 20px;
        justify-content: center;
    }
    section .image,
    section .text {
        width: 100%;
    }
    section .image span {
        display: block;
    }
    section .text h1 {
        text-align: center;
        font-size: xx-large;
    }
    section .text p {
        text-align: center;
        text-wrap: balance;
    }
    section .text .btns {
        display: none;
    }
    section .image .btns2 {
        display: flex;
    }
}