.hero {
    width: 100%;
    height: 100vh;
    padding: 5% 8%;
    background: linear-gradient(to bottom,#444, transparent), url(../../../assets/images/backgrounds/partner.jpeg) center no-repeat;
    background-size: cover;
}
#mission .col1,
#mission .col2 {
    max-width: 500px;
    width: 100%;
}
#mission .col1 ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-gap: 20px;
}

@media screen and (max-width: 950px) {
    .hero {
        width: 100%;
        padding: 5% 3%;
    }
    .small-container p {
        text-align: center;
        text-wrap: balance;
    }
    .small-container .title {
        text-align: center;
        font-size: 35px;
    }
    section {
        padding: 20px;
        justify-content: center;
        margin-bottom: 30px;
    }

    #title {
        font-size: 2rem;
    }
}
@media screen and (max-width: 560px) {
    #form {
        margin-bottom: 40px;
    }
    .footer {
        display: none;
    }
}