<app-sidebar [title]="title" />
<div class="content">
    <div class="header py-5 px-2 mb-12">
        <h1 class="text-2xl font-semibold">Transaction Management</h1>
    </div>

    <div class="transaction-list w-full">
        <table class="w-full">
            <thead>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>PhoneNumber</td>
                    <td>Task type</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>