.flags {
    width: 300px;
    margin-left: 80px;
}
.flags input {
    width: 200px;
    border: 1px solid #555;
    padding: 7px 20px;
    border-radius: 30px;
}
.flags #list button {
    border: none;
    outline: none;
    background-color: #7952b3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
.hero {
    width: 100%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* service section css */
#service article {
    transition: all 0.3s ease-in;
}
#service article:hover {
    border: 1px solid #7952b3;
    border-radius: 10px;
    padding: 20px;
}
#service article:hover #info{
    color: #7952b3;
}

#comment {
    margin-top: 10%;
}

@media screen and (max-width: 950px) {
    .hero {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 3%;
        gap: 10px;
    }
    .flags {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flags #list datalist {
        padding: 0 10px;
    }
    .flags #list form input {
        width: 100%;
    }
}