<app-header />
<section class="hero flex items-center justify-center">
  <div class="small-container flex items-center justify-center flex-col">
    <h1 class="title text-5xl text-white font-bold mb-8">Bienvenue sur EasyQuickService</h1>

    <p class="text-white text-md text-center mb-8 px-3.5">
      La plateforme de service numérique qui vous permet d'effectuer vos différentes activités sans vous déplacez partout au Cameroun.
    </p>
    <div class="btn flex items-center justify-center flex-col gap-4 text-white">
      <a
        href="home#prestations"
        class="text-sm font-bold text-black bg-white rounded py-3 px-4"
      >
        Commencer votre visite
      </a>
    </div>
  </div>
</section>

<section class="offers">

  <h1 class="title text-5xl font-semibold text-center mb-10">Nos offres pour vous</h1>
  <div class="flex items-center justify-between gap-5 flex-wrap">
    <div class="card card-1 flex justify-between flex-col border rounded-md">
      <p class="badge rounded-full">Easy-asker</p>
      <div class="card-text">
        <h3 class="text-2xl text-white font-semibold mb-3.5">Sans vous déplacer</h3>
        <p class="text-sm text-white text-balance">
          Cherchez, obtenez, vérifiez, suivez: un dossier, une information, un RDV, un colis,
          ... dans le pays séléctionné sans vous déplacer.
        </p>
        <button
          routerLink="/service-form"
          routerLinkActive="/service-form"
          class="w-full py-2 mt-4 bg-white text-indigo-600 rounded"
        >
          Demarrer
        </button>
      </div>
    </div>
    <div class="card card-2 flex justify-between flex-col border rounded-md">
      <span class="badge rounded-full">Easy-jober</span>
      <div class="card-text">
        <h3 class="text-2xl text-white font-semibold mb-3.5">Devenir Partenaire</h3>
        <p class="text-sm text-white text-balance">
          Devenez Partenaire & Augmentez vos revenus avec nos missions en free-lance dans votre pays
        </p>
        <button
          routerLink="/partner"
          routerLinkActive="/partner"
          class="w-full py-2 mt-4 bg-white text-indigo-600 rounded"
        >
          Demarrer
        </button>
      </div>
    </div>
  </div>
</section>


<app-footer />
