<!-- <div class="flags">
  <div id="list" class="flex items-center p-3">
    <label
      for="flag"
      class="text-2xl font-bold mr-8"
    >
      Pays
    </label>
    <form
      #flagForm="ngForm"
      class="flex items-center justify-center gap-2"
      (ngSubmit)="onSubmit(flagForm.value)"
    >
      <input
        list="flags"
        name="flag"
        id="flag"
        class="flex items-center justify-center gap-2 border w-full"
        ngModel
      />
      <button type="submit">OK</button>
    </form>

    <datalist id="flags">
        @for (flag of flags; track $index) {
          <option
            [value]="flag.label"
          >
          </option>
        }
    </datalist>
  </div>
</div> -->
<section class="hero flex-col">
  <div class="image">
      <app-image-slider [slides]="slides"></app-image-slider>
  </div>
</section>