.hero {
    width: 100%;
    height: 700px;
    padding: 100px 7%;
}
.hero .small-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    background: linear-gradient(to top, #424242 0%, transparent 100%),
                url("../../../assets/images/backgrounds/background_1.jpg") center no-repeat;
    background-size: cover;
}

.offers {
  padding: 50px 7%;
}
.offers .card {
  width: clamp(250px, 100%, 500px);
  padding: 20px;
  aspect-ratio: 4/3;
  position: relative;
}
.offers .card.card-1 {
  background: linear-gradient(to top, #424242 0%, transparent 100%),
              url("../../../assets/images/backgrounds/easy_asker.jpg") center no-repeat;
  background-size: cover;
}
.offers .card.card-2 {
  background: linear-gradient(to top, #424242 0%, transparent 100%),
  url("../../../assets/images/backgrounds/partner.jpeg") center no-repeat;
  background-size: cover;
}
.offers .card .badge {
  width: 70px;
  font-size: 10px;
  padding: 3px 7px;
  color: #5f5ff7;
  background-color: #ffffff;
}
.offers .card .card-text button {
  font-size: 13px;
}

@media screen and (max-width: 950px) {
    .hero {
        width: 100%;
        height: 600px;
        padding: 5% 3%;
    }
    .small-container p {
        text-align: center;
        text-wrap: balance;
    }
    .small-container .title {
        text-align: center;
        font-size: 35px;
    }
    .offers {
      align-items: center;
      justify-content: center;
    }
}
@media screen and (max-width: 560px) {
  .hero {
    height: 100%;
  }
  .hero .small-container {
    height: 500px;
  }
  .offers {
    padding: 50px 10px;
    gap: 30px;
  }
}
