<app-sidebar />
<div class="content">
    <div class="header flex items-start justify-start flex-col gap-5 py-5 px-2 mb-6">
        <h1 class="text-2xl font-semibold">Completed Tasks</h1>
    </div>

    <div class="task-list">
        <table class="w-full">
            <thead>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Objet</td>
                    <td>Qualité</td>
                    <td>Nature Juridique</td>
                    <td>Localisation</td>
                    <td>Date</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>