.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 250px);
    padding: 15px;
    position: sticky;
    top: 0;
    left: 270px;
    background: #fff;
    border-bottom: 1px solid #efefef;
    z-index: 1;
}
.navbar-top .page-title h3 {
    font-size: 20px;
    font-weight: 600;
}
.navbar-top .page-title h3 span {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}
.navbar-top .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-top .button svg {
    width: 20px;
    cursor: pointer;
    display: none;
}
.sidebar-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-right: 1px solid #efefef;
    z-index: 2;
}
.main {
    width: 100%;
}
.sidebar-header {
    text-align: left;
    padding: 13px 10px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 40px;
    cursor: pointer;
}
.sidebar-header .close-btn {
    display: none;
}
.sidebar-header .close-btn svg {
    width: 20px;
    stroke: #fff;
    fill: #fff;
}

.sidebar-content {
    width: 100%;
}
.sidebar-content .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 13px 10px;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.sidebar-content .link:not(:last-child) {
    margin-bottom: 15px;
}
.sidebar-content .link svg {
    width: 20px;
    fill: #777;
}
.sidebar-content .link p {
    font-size: 15px;
    font-weight: 400;
    color: #555;
}

.sidebar-footer {
    width: 100%;
    padding: 13px 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #efefef;
}
.sidebar-footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border-radius: 7px;
    background-color: #555;
}
.sidebar-footer button p {
    color: #fff;
}
.sidebar-footer button svg {
    width: 13px;
    fill: #fff;
    stroke: #fff;
}

.sidebar-footer .user {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.sidebar-footer .user img {
    border-radius: 50%;
}
.sidebar-footer .user .user-info span {
    font-size: 10px;
    color: #777;
}


@media screen and (max-width: 700px) {
    .navbar-top {
        width: 100%;
        padding: 15px 20px;
        margin: 0 auto;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #efefef;
    }
    .navbar-top .button .user-img {
        display: none;
    }
    .navbar-top .button svg {
        display: block;
    }
    .sidebar-container {
        display: none;
    }
    .sidebar-container.open {
        display: block;
        transition: all 0.5s ease-in-out;
    }
    .sidebar-header .close-btn {
        display: block;
    }
}
