textarea {
    padding-left: 10px;
    width: 100%;
}

@media screen and (max-width: 950px) {
    .signup-form {
        margin-top: 23%;
        padding: auto;
    }
    textarea {
        width: 100%;
    }
}