<app-sidebar [title]="title" />
<div class="content">
    <div class="header py-5 px-2 mb-12">
        <h1 class="text-2xl font-semibold">Partner Management</h1>
    </div>

    <div class="transaction-list w-full">
        <table class="w-full">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Adresse Mail</td>
                    <td>Téléphone</td>
                    <td>Quartier</td>
                    <td>Ville</td>
                    <td>Région</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>