<app-sidebar [title]="title" />
<div class="content">
    <div class="header flex items-center justify-between p-3 border mb-8 bg-white">
        <h1 class="text-2xl font-semibold">Tasks Management</h1>
        <div class="filter flex items-center justify-center gap-5">
            <select name="type" id="type" class="text-sm py-3 px-6">
                <option value="default">-- Default --</option>
                <option value="service-type">Service Type</option>
                <option value="service-object">Service Object</option>
                <option value="service-quality">Service Quality</option>
            </select>
            <select name="type" id="type" class="text-sm py-3 px-6">
                <option value="default">-- Default --</option>
                <option value="service-type">Service Type</option>
                <option value="service-object">Service Object</option>
                <option value="service-quality">Service Quality</option>
            </select>
        </div>
    </div>

    <div class="cards w-full flex items-center justify-center flex-wrap gap-3 mb-8">
        <div class="card card-1 flex items-start justify-start gap-5">
            <div class="card-icon"></div>
            <div class="card-info">
                <h3 class="text-l text-gray-400 font-semibold mb-2">Tasks Number</h3>
                <span class="text-md font-bold px-6">35</span>
            </div>
        </div>
        <div class="card card-2 flex items-start justify-start gap-5 border">
            <div class="card-icon"></div>
            <div class="card-info">
                <h3 class="text-l text-gray-400 font-semibold mb-2">Tasks Available</h3>
                <span class="text-md font-bold px-6">15</span>
            </div>
        </div>
        <div class="card card-3 flex items-start justify-start gap-5 border">
            <div class="card-icon"></div>
            <div class="card-info">
                <h3 class="text-l text-gray-400 font-semibold mb-2">Tasks Pending</h3>
                <span class="text-md font-bold px-6">7</span>
            </div>
        </div>
        <div class="card card-4 flex items-start justify-start gap-5 border">
            <div class="card-icon"></div>
            <div class="card-info">
                <h3 class="text-l text-gray-400 font-semibold mb-2">Tasks Completed</h3>
                <span class="text-md font-bold px-6">13</span>
            </div>
        </div>
    </div>

    <div class="task-list border p-3">
        <table class="w-full">
            <thead>
                <tr>
                    <td class="">Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Object</td>
                    <td>Quality</td>
                    <td>Nature Juridique</td>
                    <td>localisation</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>