@import url(../node_modules/ngx-toastr/toastr.css);
/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
